.contentLabel{
	padding:20px;
	width:fit-content;
	position:relative;
	background-color:var(--themeCol);
	user-select:none;
}
.contentLabel, .redirect{
	text-transform:uppercase;
	letter-spacing:3px;
}

.contentWrapper{
	width:75%;
	margin:0 auto;
}
section{
	position:relative;
	display:flex;
	justify-content:center;
	flex-wrap:wrap;
}
.contentHolder a{
  text-decoration:none;
	image-rendering:pixelated;
  height:12em;
  width:18em;
  float:left;
  margin:15px;
  padding:20px;
  border-radius:7.5px;
  position:relative;
  isolation:isolate;
  border:1px solid var(--fontCol);
  transition:border-color 0.25s ease;
}
.contentHolder a:not(.redirect){
  background-color:var(--panelCol);
}
.contentHolder a:hover{
	border-color:var(--accentCol)
}
.contentHolder a > *:not(:first-child){
	margin-top:10px;
}
.contentMedia{
	display:flex;
	justify-content:space-between;
}
.contentIcon{
	width:50px;
	height:50px;
	object-fit:contain;
}
.contentMedia > div{
	display:flex;
	flex-wrap:wrap;
	justify-content:end;
	width:-webkit-fill-available;
	height:20px;
}
.contentTag{
	height:100%;
	aspect-ratio:1/1;
	object-fit:contain;
	margin:0px 3px;
}
.contentTag:first-child{
	margin-left:0px;
}
.contentTag:last-child{
	margin-right:0px;
}
.contentHeader, .contentLabel{
	color:var(--accentCol);
	font-family:'Rubik Bold';
}
.contentHolder a p, .redirect, .headerContent p{
	color:var(--fontCol);
	font-family:'Rubik Regular';
}
.contentDescription{
	height:58px;
	overflow:hidden;
}
@media (width < 490px){
	.contentHeader{
		font-size:5vw;
	}
	.contentDescription{
		font-size:3.25vw;
	}
}
.contentDetails{
	width:calc(100% - 40px);
  display:flex;
	justify-content:space-between;
	font-weight:bold;
	font-size:0.65em;
	position:absolute;
	bottom:calc(0px + 20px);
}
.contentDetails p{
	width:calc(100% / 3);
}
.contentDetails p:last-child{
	text-align:center;
}

.redirect{
	display:grid;
	place-items:center;
	background-color:transparent;
}