html, body{
	height:100%;
}
body{
	display:flex;
	flex-direction:column;
}
.filterTrigger{
	height:75px;
	width:75px;
	display:block;
	position:absolute;
	top:0;
	left:100%;
	border-top-right-radius:7.5px;
	border-bottom-right-radius:7.5px;
	background-color:#0e1925;
	cursor:pointer;
}
.filterTrigger img{
	filter:saturate(0.5) hue-rotate(21deg);
	height:100%;
	width:100%;
	scale:0.8;
	transition:filter 0.25s ease;
}
.filterTrigger:hover img{
	filter:none;
}
@media (width < 920px){
	.filterTrigger{
		top:unset;
		bottom:0;
	}
	.filterWrapper{
		border-top-right-radius:7.5px !important;
		border-bottom-right-radius:0px !important;
	}
}
.filterWrapper, .filterWrapper > div{
	display:flex;
	flex-direction:column;
}
.filterWrapper, .search{
	border-radius:7.5px;
}
.filterWrapper{
	border-top-right-radius:0px;
	padding:10px;
	background-color:#0e1925;
	position:fixed;
	isolation:isolate;
	left:calc(-10em - 20px);
	top:50%;
	translate:0% -50%;
	width:10em;
	z-index:2;
	transition:left 0.25s ease;
}
.wrapperOpen{
	left:0;
	transition:left 0.25s ease;
}
.filterWrapper > div{
	height:auto;
}
.filterWrapper > div button{
	display:block;
	box-sizing:content-box;
	background-color:transparent;
	cursor:pointer;
}
.splitWrapper{
	flex-direction:row !important;
}
.split{
	width:50%;
}
::placeholder{
	font-style:italic;
	color:var(--fontCol);
}
.filterWrapper > div button, .search{
	font-family:'Rubik Regular';
	margin:5px 0px;
	color:var(--fontCol);
	font-size:0.8em;
	border:none;
	padding:10px;
	transition:color 0.25s ease;
}
.filterWrapper > div button:hover, .search:hover{
	color:var(--accentCol);
}
.search{
	background-color:var(--panelCol);
	margin-top:0px;
}
.tagFilters > button{
	image-rendering:pixelated;
	text-align:left;
	display:flex !important;
	align-items:center;
}
.tagFilters > button img{
	height:20px;
	margin-right:10px;
	aspect-ratio:1/1;
}
.tagFilters > button:last-child{
	margin-bottom:0px;
}