footer{
	height:300px;
	display:flex;
	margin-top:auto;
	background-image:linear-gradient(to bottom, transparent, var(--panelCol));
}
footer div{
	width:100%;
	height:100%;
	display:flex;
	flex-direction:column;
	justify-content:center;
	align-items:center;
	font-family:'Rubik Regular';
	color:var(--fontCol);
}
article a{
	display:block;
	aspect-ratio:1/1;
	text-decoration:none;
	margin:0.75em;
	border:2px solid;
	border-radius:100px;
	background-size:65%;
	background-position:center;
	background-repeat:no-repeat;
	padding:1.5em;
}
article{
	display:flex;
}
a.twitter{ background-image:url('../images/icons/twitter.png'); color:#00b5ff; }
a.youtube{ background-image:url('../images/icons/youtube.png'); color:#ff4e4e; }
a.mcpedl{ background-image:url('../images/icons/mcpedl.png'); color:#cfeca6; }
a.linkvertise{ background-image:url('../images/icons/linkvertise.png'); color:#ffa557; }