html{
	scroll-behavior:smooth;
	scroll-padding-top:150px;
}
.contentWrapper{
	display:flex;
	justify-content:center;
}
.mainWrapper{
	width:80%;
	min-height:100vh;
	color:var(--fontCol);
}
.mainNavigation{
	top:100px;
	left:10%;
	position:absolute;
	height:calc(90vh - 100px);
	width:16%;
	overflow:auto;
	backdrop-filter:blur(10px);
	background-color:var(--panelCol);
}
.mainDescription{
	float:right;
	height:100%;
	width:80%;
	position:relative;
	isolation:isolate;
	background-image:linear-gradient(var(--panelCol), var(--panelCol)), linear-gradient(var(--panelCol), var(--panelCol));
	background-size:cover;
	overflow:auto;
}
.mainWrapper h1, .mainWrapper h2, .mainWrapper h3{
	font-family:'Rubik Bold';
}
.mainWrapper h2{
	word-break:break-word;
	margin-top:15px;
}
.mainWrapper h3{
	margin-top:15px;
}
.mainWrapper p, .mainWrapper ul{
	font-family:'Rubik Regular';
	line-height:1.5em;
}
.mainWrapper ul{
	width:fit-content;
	padding-top:1em;
	padding-bottom:1em;
}
.mainWrapper img{
	cursor:pointer;
}
.listCol{
	display:flex;
	flex-wrap:wrap;
}
.mainWrapper > *:not(img):not(.info-table):not(:has(img)), .compound p{
	transition:filter 0.25s ease;
	cursor:default;
}
.mainWrapper > *:not(img):not(table):not(.recipe-wrapper):not(:has(img)):not(:has(button)):not(:has(a)):not(.craftDiv):not(.variantsDiv):hover, .dataTags button:not(.disabled):hover, .dataTags button:not(.disabled):focus, .compound p:hover, .chosen, .currentSearch:focus, .linkCol a:hover, .linkCol a:focus{
	filter:hue-rotate(-45deg) brightness(1.5);
}
.mainWrapper img{
	cursor:pointer;
	image-rendering:pixelated;
	object-fit:contain;
}
.mainWrapper img:not(.info-img):not(.gallery-image){
	width:100%;
}
.mainWrapper input{
	border:none;
	font-size:1.05em;
	padding:1em;
	background-color:var(--panelCol);
	border-radius:7.5px;
	color:var(--fontCol);
	cursor:text;
	width:-webkit-fill-available;
}

.info-line{
	border-color:var(--fontCol);
	margin:25px 0px;
}
.info-split{
	display:flex;
	flex-direction:row;
	justify-content:space-between;
}
.info-toc, .info-img, .gallery-image{
	width:300px;
	border:1px solid var(--fontCol);
	border-radius:10px;
	background-color:var(--panelCol);
	transition:border 0.25s ease;
	padding:15px;
}
.info-toc{
	display:flex;
	flex-direction:column;
	height:min-content;
}
.toc-numbers{
	filter:brightness(0.5);
	font-weight:bold;
}
.info-toc a{
	text-decoration:none;
	color:var(--fontCol);
	font-family:'Rubik Regular';
	padding-top:10px;
	padding-bottom:10px;
	font-size:1.2em;
	text-transform:capitalize;
	transition:color 0.125s ease;
}
.info-toc a:hover{
	color:var(--accentCol);
}
.tocp-1{ padding-left:10px; }
.tocp-2{ padding-left:30px; }
.tocp-3{ padding-left:50px; }
.gallery-image{
	width:calc((100% / 5) - 32px);
	aspect-ratio:1/1;
	scale:0.9;
}
.info-toc > h2{
	text-align:center;
}
.info-toc:hover, .info-img:hover, .info-table:hover, .gallery-image:hover{
	border:1px solid var(--accentCol);
}
.info-table{
	font-family:'Rubik Regular';
	border:1px solid var(--fontCol);
	border-radius:10px;
	padding:10px;
	margin-top:15px;
	transition:border 0.25s ease;
}
.info-table th, .info-table td{
	padding:10px;
}
.it-up, .info-table b, .mainWrapper h3{
	text-transform:capitalize;
}
.info-item{
	padding:5px;
}
.gallery-wrapper{
	display:flex;
	flex-wrap:wrap;
}
.it-bo{
	font-family:'Rubik Bold';
}
.info-table td{
  background-image:radial-gradient(var(--panelCol), var(--panelCol), var(--panelCol), var(--panelCol), transparent, transparent, transparent);
  background-size:5px 5px;
  background-repeat:space no-repeat;
  background-position:bottom;
}
.info-table td:not(.it-up){
	word-break:break-word;
	white-space:pre-wrap;
}
.loot-icon{
	width:15px;
	aspect-ratio:1/1;
	background-size:contain;
	background-repeat:no-repeat;
	display:inline-block;
}
.recipe-wrapper{
	display:flex;
	flex-wrap:wrap;
	gap:7px;
	margin-top:15px;
}
.craftingSection{
	width:100%;
	display:flex;
	flex-direction:column;
}
.craftDiv{
	display:flex;
	flex-direction:column;
	text-transform:capitalize;
}
.cellCollectionDiv{
  display:flex;
  justify-content:center;
  flex-wrap:wrap;
  gap:15px;
  margin:15px 0px;
}
.panelWrapper{
	position:relative;
	isolation:isolate;
	cursor:pointer;
	overflow:hidden;
	width:fit-content;
	float:left;
}
.panel, .panelInfo{
	width:208.425px;
	height:125.025px;
	border-radius:3.75px;
	border:1px solid var(--fontCol);
	background-color:var(--panelCol);
	padding:15px;
	transition:border-color 0.25s ease;
}
.panelWrapper:hover div:not(.emptyCell):not(.craftingCell){
	border-color:var(--accentCol);
}
.panel{
	display:flex;
	flex-wrap:wrap;
	backdrop-filter:blur(5px);
	opacity:1;
	transition:opacity 0.25s ease;
}
.transparent{
	opacity:0;
	pointer-events:none;
	transition:opacity 0.25s ease;
}
.panelInfo{
	overflow:auto;
	position:absolute;
	z-index:-1;
}
.craftingCell{
	background-color:var(--cellCol);
  border-top:3px solid var(--darkBorderCol);
  border-left:3px solid var(--darkBorderCol);
  border-right:3px solid var(--lightBorderCol);
  border-bottom:3px solid var(--lightBorderCol);
}
.emptyCell{
	border:3px solid transparent;
}
.craftingCell, .emptyCell{
	width:calc((100% / 5) - 4.8px);
	aspect-ratio:1/1;
	float:left;
	background-size:contain;
	background-repeat:no-repeat;
	background-position:center;
	image-rendering:pixelated;
}
.craftingCell span{
	color:white;
	user-select:none;
	font-family:'Rubik Bold';
	filter:drop-shadow(2px 2px 0px black);
	display:flex;
	align-items:end;
	justify-content:end;
	height:100%;
	width:100%;
}
.panelInfo p{
	word-break:break-word;
	white-space:pre-wrap;
}

@media (width < 1000px){
	.libraryCell{
		width:calc(100% / 6);
	}
}
@media (width > 830px){
	.mainNavigation{
		border-radius:7.5px 0px 0px 7.5px;
	}
	.mainDescription, .mainDescription::after{
		border-radius:0px 7.5px 7.5px 0px;
	}
}
@media (width < 840px){
	.info-split{
		flex-direction:column;
	}
	.info-split > *, .info-table{
		width:-webkit-fill-available;
	}
	.mainDescription, .mainDescription::after, .mainNavigation{
		border-radius:0px;
	}
	.linkCol{
		flex-direction:column;
	}
	.mainDescription{
		width:70%;
	}
	.mainNavigation{
		width:30%;
		left:0;
	}
	.libraryCell{
		width:calc(100% / 4);
	}
	.craftingSection h3{
		width:100%;
	}
	.panelWrapper{
		width:100%;
		display:flex;
		flex-wrap:wrap;
	}
	.panel, .panelInfo{
		width:-webkit-fill-available;
		margin:15px;
		height:unset;
	}
	.panelInfo{
		height:-webkit-fill-available;
	}
}
@media (width < 520px){
	.descWrapper{
		padding:2em;
	}
	.mainNavigation{
		z-index:2;
		height:100vh;
		width:12em;
		left:-12em;
		top:0;
		position:fixed;
		border-radius:0px 7.5px 0px 0px;
		transition:left 0.25s ease;
	}
	.navOpen{
		left:0em;
		transition:left 0.25s ease;
	}
	.mainDescription{
		width:100%;
	}
	.indexTrigger{
		display:block;
	}
	.contentImages{
		margin:15px 0px;
	}
}