.header{
	height:600px;
	display:flex;
}
.headerContent{
	width:100%;
	display:flex;
	flex-direction:column;
	justify-content:center;
	background-image: linear-gradient(-45deg, transparent, transparent, var(--themeCol), var(--themeCol), var(--themeCol));
}
.headerContent img{
  object-fit:contain;
  image-rendering:pixelated;
  width:45em;
  scale:0.9;
}
.headerContent p{
  font-size:1.5em;
  margin:1em;
  margin-left:2em;
  width:22em;
  letter-spacing:1.5px;
}
.headerContent b{
	color:var(--accentCol);
}
.marqueeWrapper{
	position:absolute;
	z-index:-1;
	height:600px;
	width:100%;
	scale:1.157;
	background-image:url('../images/miscellaneous/carousel.png');
	background-size:50%;
	background-repeat-y:no-repeat;
	background-position-y:50%;
	animation:marquee 10s linear infinite;
}
@keyframes marquee{
	from{ background-position-x:0% }
	to{ background-position-x:100% }
}
@media (width < 1000px){
	.marqueeWrapper{
		display:none;
	}
	.headerContent{
		background-image:none;
		align-items:center;
	}
	.headerContent p{
		margin-left:1em;
	}
}
@media (width < 680px){
	.headerContent img{
		width:30em;
	}
	.headerContent p{
		font-size:1.3em;
	}
	.header{
		height:450px;
	}
}
@media (width < 470px){
	.headerContent img{
		scale:0.75
	}
	.headerContent p{
		font-size:1em;
	}
	.header{
		height:350px;
	}
}